body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #1c0f2e, #0a0510);
  color: #f4e9ff;
  line-height: 1.6;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Header */
header {
  background: #1a0c2e;
  border-bottom: 1px solid #3b1f4d;
  box-shadow: 0 2px 10px rgba(255, 110, 199, 0.1);
}

iframe {
  display: absolute;
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff6ec7;
  box-shadow: 0 0 15px rgba(255, 110, 199, 0.4);
}

h1 {
  font-size: 2.5rem;
  color: #ffffff;
}

.dot {
  color: #ff6ec7;
}

nav {
  margin-top: 10px;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #ddb3f8;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff6ec7;
}

/* Sections */
h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #ff6ec7;
}

ul {
  padding-left: 20px;
}

.box {
	display: flex;
	flex-direction: row;
  	align-items: baseline;
  	justify-content: center; /* ou space-between si tu préfères */
  	gap: 2rem; /* ajuste à ton goût */
}

.fields {
  margin: 4rem 0;
  padding: 2.5rem 3rem;
  border-radius: 1.5rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.01)
  );
  backdrop-filter: blur(8px);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #2b1c3a;
  border-radius: 8px;
  padding: 15px;
  flex: 1 1 280px;
  transition: transform 0.3s ease, box-shadow 0.3s;
  border-left: 4px solid #ff6ec7;
  box-shadow: 0 0 5px rgba(255, 110, 199, 0.2);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(255, 110, 199, 0.3);
}

.project-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Contact */
section#contact a {
  color: #a29bfe;
  text-decoration: none;
  transition: color 0.3s;
}

section#contact a:hover {
  color: #ff6ec7;
}

footer {
  background: #1a0c2e;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  color: #caa9dd;
}

.nav-link {
  display:block;
  padding:15px
 }